{% extends "base.html" %}
{% block content %}
<div class="container pt-5">
    {% if user %}
    <h2>Welcome, {{ user.name }}, your watchlist currently contains {{ count }}/24 films.</h2>
    <h4>Use the search function to add films.</h4>

    <a href="{{ url_for('starter') }}">Or click here to view IMDBs Top 100 Christmas Films</a>
    {% else %}
    <p>Welcome, Guest!</p>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for movie in database %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card border-info" style="height: 100%; display: flex; flex-direction: column;">
                    <div class="card-body" style="padding: 0.5rem; text-align: center;">
                        <h3 class="card-title mt-2" style="font-size: 1.25rem;">{{ loop.index }} | {{ movie.title
                            }}</h3>
                        <img src="https://image.tmdb.org/t/p/original{{ movie.image_url }}"
                             alt="Movie Image"
                             style="width: 45%; margin: auto;">
                        <div class="mt-auto">
                            <p>Watched and rating system coming soon!</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}