{% extends "base.html" %}
{% block content %}
<div class="container pt-5">

<h2 class="text-center pt-3 text-success">Movie List</h2>
<h4 class="text-center pt-2">Select 24 films to build your own list</h4>

<div class="row px-5 py-5">
    {% for movie in database %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card border-secondary" style="height: 100%; display: flex; flex-direction: column;">
            <div class="card-body" style="padding: 0.5; text-align: center;">
                <h4 class="card-title mt-1">{{ loop.index }} | {{ movie.title }}</h4>
                {% set active_opacity = 1 %}
                {% set inactive_opacity = 0.125 %}
                <img src="static/icons/netflix.png"
                     style="width: 40px; opacity: {{ active_opacity if movie.is_netflix == 1 else inactive_opacity }};"
                     class="py-1">

                <img src="static/icons/prime.png"
                     style="width: 40px; opacity: {{ active_opacity if movie.is_prime == 1 else inactive_opacity }};"
                     class="py-1">

                <img src="static/icons/nowtv.png"
                     style="width: 40px; opacity: {{ active_opacity if movie.is_nowtv == 1 else inactive_opacity }};"
                     class="py-1">

                <img src="static/icons/disney.png"
                     style="width: 40px; opacity: {{ active_opacity if movie.is_disney == 1 else inactive_opacity }};"
                     class="py-1">

                <img src="static/icons/apple.png"
                     style="width: 40px; opacity: {{ active_opacity if movie.is_apple == 1 else inactive_opacity }};"
                     class="py-1">


                    <img src="https://image.tmdb.org/t/p/original{{ movie.image_url }}"
                         alt="Movie Image"
                         style="width: 45%; margin: auto;">



                <div class="mt-auto">
                    {% if movie.movie_id in user_watchlist %}
                    <a type="button" class="btn btn-success my-2">✓ Already in Watchlist</a>
                    {% else %}
                    <a href="{{ url_for('add_movie', movie_id=movie.movie_id) }}">
                        <button type="button" class="btn btn-outline-secondary my-2">Select Movie</button>
                    </a>


                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
